<section class="container">
    <h1>Lista de pessoas</h1>
    <div class="top">
        <button routerLink="/create-person">adicionar pessoa</button>
        <span>
            <input type="text" placeholder="Nome pessoa"
            autofocus
            [(ngModel)]="filter"
            (keyup)="searchPerson()">
            <img src="../../../../assets/icons/iconPersonSearch.svg" alt="Icon person search">
        </span>
    </div>
    <div class="top-person">
        <span>Nome pessoa</span>
        <span>CPF</span>
        <span>Data de nascimento</span>
        <span>Ações</span>
    </div>
    <div class="people" *ngFor="let person of listPeople, let i = index">
        <app-person [person]="person"></app-person>
    </div>
</section>
<div class="pagination">
    <button (click)="previousPage()"  [disabled]="currentPage == 0" class="{{ firstPage() }}" >Anterior</button>
    <button (click)="nextPage()" [disabled]="currentPage + 1 == pages" class="{{ lastPage() }}">Próxima</button>
</div>
